@model IEnumerable<ERP.Admin.Models.Usuario>
@{
    string IdTrListUsua = "";
    string TDIdUsua = "";
    string TDDniUsua = "";
    string TDNombUsua = "";
    string NombCompleto = "";

    string CallBy = ViewBag.CallBy;
}
@Html.Hidden("txtUsuaList_CallBy", CallBy)
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-red">
                <span class="widget-caption">Usuario > Listado </span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <table class="table table-striped table-hover table-bordered" id="editableListUsuario">
                    <thead>
                        <tr role="row">
                            <th style="display:none">
                                Id_USUARIO
                            </th>
                            <th>
                                DNI / RUC
                            </th>
                            <th>
                                Nombre / Razón Social
                            </th>
                            <th style="width: 100px;">...</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            NombCompleto = item.nombres + " " + item.apellido_paterno + " " + item.apellido_materno;
                            IdTrListUsua = "IdTrListUsua" + item.id_usuario;
                            TDIdUsua = "TDIdUsua" + IdTrListUsua;
                            TDDniUsua = "TDDniUsua" + IdTrListUsua;
                            TDNombUsua = "TDNombUsua" + IdTrListUsua;

                            <tr id="@IdTrListUsua">
                                <td id="@TDIdUsua" style="display:none">
                                    @Html.DisplayFor(modelItem => item.id_usuario)
                                </td>
                                <td id="@TDDniUsua" class="input-xs">
                                    @Html.DisplayFor(modelItem => item.dni)
                                </td>
                                <td id="@TDNombUsua" class="input-xs">
                                    @NombCompleto 
                                </td>
                                <td style="text-align: center;">
                                    <button class="btn btn-success .shiny" style="padding:0;font-size:small;margin-top:-5px" onclick="FnAddUsuario('@IdTrListUsua')">SELECCIONAR</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="horizontal-space"></div>
            <div class="row">
                <div class="col-md-2" style="float: right;">
                    <button class="btn bg-blue shiny" type="button" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        Inicia();
    });

    function FnAddUsuario(newTr) {
        var CallBy = $("#txtUsuaList_CallBy").val();
        var FkUsua = "";
        var DniUsua = "";
        var NombUsua = "";

        FkUsua = document.getElementById("TDIdUsua" + newTr).innerHTML.trim();
        DniUsua = document.getElementById("TDDniUsua" + newTr).innerHTML.trim();
        NombUsua = document.getElementById("TDNombUsua" + newTr).innerHTML.trim();
        if (CallBy == "ReporteVentas") {
            FnAgregaUsuarioReporteVenta(FkUsua, DniUsua, NombUsua);
        }
        $('#myModalUsuario').modal('hide');
    }

    function Inicia() {
        //Datatable Initiating
        oTable = $('#editableListUsuario').dataTable({
            "aLengthMenu": [
                [5, 10, 15, 20, 100, -1],
                [5, 10, 15, 20, 100, "All"]
            ],
            "retrieve": "true",
            "iDisplayLength": 10,
            "sPaginationType": "bootstrap",
            "sDom": "Tflt<'row DTTTFooter'<'col-sm-6'i><'col-sm-6'p>>",
            "oTableTools": {
                "aButtons": [
                ],
                "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf"
            },
            "language": {
                "search": "",
                "sLengthMenu": "_MENU_",
                "oPaginate": {
                    "sPrevious": "Ant",
                    "sNext": "Sig"
                }
            },

            "aoColumns": [
                null,
                null,
                null,
                { "bSortable": false }
            ]
        });
        var isEditing = null;
    }
</script>
