@model IEnumerable<ERP.Admin.Models.ComprobanteCompra>
@{
    string strFechEmis = "";
    string strNeto = "";
    string strIgv = "";
    string strBrut = "";
    int FkSubFami = ViewBag.FkSubFamilia;
    int FkMarc = ViewBag.FkMarca;
    decimal TotaBruto = 0;
    decimal SumaNeto = 0;
    decimal SumaIgv = 0;
    decimal SumaBruto = 0;
}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            @if (FkSubFami == 0 && FkMarc == 0)
            {
                <div class="col-md-12">
                    <table class="table" id="tableDataReportCompra" style="text-align: center;table-layout: auto;border: 1px solid black;font-size:11px;font-family:Arial, Helvetica, sans-serif">
                        <thead>
                            <tr role="row">
                                <th rowspan="2" style="font-size: 11px; text-align: center; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    FECHA
                                </th>
                                <th rowspan="2" style="font-size: 11px; text-align: center; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    TIPO_DOC
                                </th>
                                <th style="font-size: 11px; text-align: center; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    DOCUMENTO
                                </th>
                                <th style="font-size: 11px; text-align: center; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    RUC
                                </th>
                                <th style="font-size: 11px; text-align: center; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    NOMBRE
                                </th>
                                <th style="font-size: 11px; text-align: center; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    AFECTO
                                </th>
                                <th style="width: 80px; font-size: 11px; text-align: center; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    IMPUESTO
                                </th>
                                <th style="width: 80px; font-size: 11px; text-align: center; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    TOTAL
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                strFechEmis = Convert.ToDateTime(item.f_emision).ToString("dd/MM/yyyy");
                                strNeto = item.total_neto.ToString("#,##0.00");
                                strIgv = item.total_igv.ToString("#,##0.00");
                                strBrut = item.total_bruto.ToString("#,##0.00");

                                SumaNeto = SumaNeto + item.total_neto;
                                SumaIgv = SumaIgv + item.total_igv;
                                SumaBruto = SumaBruto + item.total_bruto;
                                <tr>
                                    <td class="input-xs">
                                        @strFechEmis
                                    </td>
                                    <td class="input-xs" style="text-align: left;">
                                        @item.codigo
                                    </td>
                                    <td class="input-xs" style="text-align: center;">
                                        @item.nro_comprobante
                                    </td>
                                    <td class="input-xs" style="text-align: center;">
                                        @item.ruc
                                    </td>
                                    <td class="input-xs" style="text-align: left;">
                                        @item.razon_social
                                    </td>
                                    <td class="input-xs" style="text-align: right;">
                                        @strNeto
                                    </td>
                                    <td class="input-xs" style="text-align: right;">
                                        @strIgv
                                    </td>
                                    <td class="input-xs" style="text-align: right;">
                                        @strBrut
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="5" style="font-size: 11px; text-align: right; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    TOTAL
                                </td>
                                <td style="font-size: 11px; text-align: right; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    @SumaNeto.ToString("#,##0.00")
                                </td>
                                <td style="font-size: 11px; text-align: right; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    @SumaIgv.ToString("#,##0.00")
                                </td>
                                <td style="font-size: 11px; text-align: right; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    @SumaBruto.ToString("#,##0.00")
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="col-md-12">
                    <table class="table" id="tableDataReportCompra" style="text-align: center;table-layout: auto;border: 1px solid black;font-size:11px;font-family:Arial, Helvetica, sans-serif">
                        <thead>
                            <tr role="row">
                                <th style="font-size: 11px; text-align: center; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    FECHA
                                </th>
                                <th style="font-size: 11px; text-align: center; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    TIPO_DOC
                                </th>
                                <th style="font-size: 11px; text-align: center; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    DOCUMENTO
                                </th>
                                <th style="font-size: 11px; text-align: center; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    PRODUCTO
                                </th>
                                <th style="font-size: 11px; text-align: right; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    CANTIDAD
                                </th>
                                <th style="width: 80px; font-size: 11px; text-align: right; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    PRECIO
                                </th>
                                <th style="width: 80px; font-size: 11px; text-align: right; border-top: 1px solid black; border-bottom: 1px solid black;">
                                    TOTAL
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.DetalleCompra != null)
                            {
                                SumaNeto = 0;
                                SumaBruto = 0;
                                foreach (var item in ViewBag.DetalleCompra)
                                {
                                    strFechEmis = Convert.ToDateTime(item.f_compra).ToString("dd/MM/yyyy");
                                    strNeto = item.precio.ToString("#,##0.00");
                                    TotaBruto = Convert.ToDecimal(item.cantidad) * Convert.ToDecimal(item.precio);
                                    strBrut = TotaBruto.ToString("#,##0.00");

                                    SumaNeto = SumaNeto + item.cantidad;
                                    SumaBruto = SumaBruto + TotaBruto;
                                    <tr>
                                        <td class="input-xs">
                                            @strFechEmis
                                        </td>
                                        <td class="input-xs" style="text-align: center;">
                                            @item.descripcion_comprobante_tipo
                                        </td>
                                        <td class="input-xs" style="text-align: center;">
                                            @item.nro_comprobante
                                        </td>
                                        <td class="input-xs" style="text-align: left;">
                                            @item.nom_producto
                                        </td>
                                        <td class="input-xs" style="text-align: right;">
                                            @item.cantidad
                                        </td>
                                        <td class="input-xs" style="text-align: right;">
                                            @strNeto
                                        </td>
                                        <td class="input-xs" style="text-align: right;">
                                            @strBrut
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="4" style="font-size: 11px; text-align: right; border-top: 1px solid black; border-bottom: 1px solid black;">
                                        TOTAL
                                    </td>
                                    <td style="font-size: 11px; text-align: right; border-top: 1px solid black; border-bottom: 1px solid black;">
                                        @SumaNeto.ToString("#,##0")
                                    </td>
                                    <td style="font-size: 11px; text-align: right; border-top: 1px solid black; border-bottom: 1px solid black;"></td>
                                    <td style="font-size: 11px; text-align: right; border-top: 1px solid black; border-bottom: 1px solid black;">
                                        @SumaBruto.ToString("#,##0.00")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>
<script>

</script>
