<script src="~/Scripts/exporter.js-master/export.min.js"></script>
<script src="~/Scripts/exporter.js-master/export.js"></script>
@{
    string FechNow = DateTime.Now.ToString("dd/MM/yyyy");
}
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-red">
                <span class="widget-caption">REPORTE DE COMPRAS </span>
                <a href="#" onclick="return Exporter.export(tableDataReportCompra, 'REPORTE DE COMPRAS.xls', 'REPORTE DE COMPRAS')">
                    <img style="text-align: center; vertical-align:central; border: none !important;" src="~/img/Excel_32.ico" />
                </a>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    <div class="horizontal-space"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <table border="1" class="table" id="editabledataRepoCompras" style="text-align: center;table-layout: auto;border: 1px solid black;font-size:11px;font-family:Arial, Helvetica, sans-serif">
                                <thead>
                                    <tr style="text-align: center;">
                                        <th style="text-align: left; height: 20px; font-size: 11px; padding-right: 20px">
                                            <div class="row">
                                                <div class="form-group" style="margin:0">
                                                    <label class="col-sm-1 control-label" style="text-align: right;">DESDE: </label>
                                                    <div class="col-md-2">
                                                        <div class='input-group'>
                                                            <input class='form-control date-picker' id='txtRepoComp_FechInic' type='text' data-date-format='dd/mm/yyyy' value="@FechNow" readonly>
                                                            <span class='input-group-addon'>
                                                                <i class='fa fa-calendar'></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <label class="col-sm-1 control-label" style="text-align: right;">HASTA: </label>
                                                    <div class="col-md-2">
                                                        <div class='input-group'>
                                                            <input class='form-control date-picker' id='txtRepoComp_FechFin' type='text' data-date-format='dd/mm/yyyy' value="@FechNow" readonly>
                                                            <span class='input-group-addon'>
                                                                <i class='fa fa-calendar'></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        @Html.Bootstrap().TextBox("txtReportCompra_RazoSoci").Placeholder("PROVEEDOR").Disable().Append(new BootstrapButton("button").Text("").HtmlAttributes(new { @title = "Listado", @onclick = "FnListaProveedor('ReporteCompras')" }).IconOnly().IconPrepend(FontAwesome.ListAlt)).Size(InputSize.Small)
                                                        @Html.Hidden("txtReportCompra_FkProv", 0)
                                                        <div class="horizontal-space"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group" style="margin:0">
                                                    <div class="col-md-5">
                                                        @Html.Bootstrap().TextBox("txtReportCompra_DescLine").Placeholder("LINEA").Disable().Append(new BootstrapButton("button").Text("").HtmlAttributes(new { @title = "Listado", @onclick = "FnListaSubFamilia('ReporteCompras')" }).IconOnly().IconPrepend(FontAwesome.ListAlt)).Size(InputSize.Small)
                                                        @Html.Hidden("txtReportCompra_FkSubFami", 0)
                                                    </div>
                                                    <div class="col-md-5">
                                                        @Html.Bootstrap().TextBox("txtReportCompra_NombMarca").Placeholder("MARCA").Disable().Append(new BootstrapButton("button").Text("").HtmlAttributes(new { @title = "Listado", @onclick = "FnListaMarca('ReporteCompras')" }).IconOnly().IconPrepend(FontAwesome.ListAlt)).Size(InputSize.Small)
                                                        @Html.Hidden("txtReportCompra_FkMarc", 0)
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button class="btn btn-sm btn-default" style="margin-top: 0px" onclick="loadDivTblReporteCompra()">BUSCAR</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="DivTblDataRepoCompra"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="spinner" class="loading">
    <img src="~/img/spinner2.gif" alt="Loading" />
</div>
<div id='myModalProveedor' class='modal fade in' role="dialog">
    <div class="modal-dialog" style="width:60%; height:auto">
        <div class="modal-content">
            <div id='myModalContentProveedor'></div>
        </div>
    </div>
</div>
<div id='myModalMarca' class='modal fade in' role="dialog">
    <div class="modal-dialog" style="width:50%; height:auto">
        <div class="modal-content">
            <div id='myModalContentMarca'></div>
        </div>
    </div>
</div>
<div id='myModalFamilia' class='modal fade in' role="dialog">
    <div class="modal-dialog" style="width:60%; height:auto">
        <div class="modal-content">
            <div id='myModalContentFamilia'></div>
        </div>
    </div>
</div>
@section PageScripts{
    <style>
        .loading {
            position: fixed;
            z-index: 999;
            height: 2em;
            width: 2em;
            overflow: show;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
            /* Transparent Overlay */
            .loading:before {
                content: '';
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.3);
            }
    </style>
    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
    <script src="~/assets/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/datatable/datatables-init.js"></script>
    <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/inputmask/jasny-bootstrap.min.js"></script>
    <script src="~/assets/js/select2/select2.js"></script>
    <!--Bootstrap Tags Input-->
    <script src="~/assets/js/tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/assets/js/datetime/moment.js"></script>
    <!--Bootstrap Date Picker-->
    <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>

    <link href="~/Scripts/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert-dev.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>

    <script src="~/assets/js/toastr/toastr.js"></script>

    <script>
        $(document).ready(function () {
            $("#spinner").hide();
            $('#spinner').bind("ajaxSend", function () {
                $(this).show();
            }).bind("ajaxComplete", function () {
                $(this).hide();
            });
            $('#loading').hide().ajaxStart(function () {
                $(this).show();
            }).ajaxStop(function () {
                $(this).hide();
            });
            $('.date-picker').datepicker();
        });

        function loadDivTblReporteCompra() {
            var FechInic = $("#txtRepoComp_FechInic").val();
            var FechFin = $("#txtRepoComp_FechFin").val();
            var FkProv = $("#txtReportCompra_FkProv").val();
            var FkMarc = $("#txtReportCompra_FkMarc").val();
            var FkSubFami = $("#txtReportCompra_FkSubFami").val();
            var url = "../Reportes/ListDataReporteCompra?FechInic=" + FechInic + "&FechFin=" + FechFin + "&FkProv=" + FkProv + "&FkMarc=" + FkMarc + "&FkSubFami=" + FkSubFami;
            $('#DivTblDataRepoCompra').html('');
            $('#DivTblDataRepoCompra').load(url);
        }

        function FnListaMarca(pCallBy) {
            var options = { "backdrop": "static", keyboard: false };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListaMarca", "Reportes")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    CallBy: pCallBy
                }),
                dataType: 'html',
                success: function (response) {
                    $('#myModalContentMarca').html(response);
                    $('#myModalMarca').modal(options);
                    $('#myModalMarca').modal('show');
                },
                error: function (request, status, error) {
                    sweetAlert("", request.responseText, "error");
                }
            });
        }

        function FnAgregaMarcaReporteCompra(FkMarc, DescMarc) {
            $("#txtReportCompra_FkMarc").val(FkMarc);
            $("#txtReportCompra_NombMarca").val(DescMarc);
        }

        function FnListaProveedor(pCallBy) {
            var options = { "backdrop": "static", keyboard: false };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListaProveedor", "Proveedor")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    CallBy: pCallBy
                }),
                dataType: 'html',
                success: function (response) {
                    $('#myModalContentProveedor').html(response);
                    $('#myModalProveedor').modal(options);
                    $('#myModalProveedor').modal('show');
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }

        function FnAddDataRepoCompraProvedor(IdProv, RucProv, RazoSociProv) {
            $("#txtReportCompra_FkProv").val(IdProv);
            $("#txtReportCompra_RazoSoci").val(RucProv + " - " + RazoSociProv);
        }

        function FnListaSubFamilia(pCallBy) {
            var options = { "backdrop": "static", keyboard: false };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListaSubFamilia", "Reportes")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    CallBy: pCallBy
                }),
                dataType: 'html',
                success: function (response) {
                    $('#myModalContentFamilia').html(response);
                    $('#myModalFamilia').modal(options);
                    $('#myModalFamilia').modal('show');
                },
                error: function (request, status, error) {
                    sweetAlert("", request.responseText, "error");
                }
            });
        }

        function FnAgregaFamiliaReporteCompra(FkFami, DescFami) {
            $("#txtReportCompra_FkSubFami").val(FkFami);
            $("#txtReportCompra_DescLine").val(DescFami);
        }
    </script>
}