@model IEnumerable<ERP.Admin.Models.Producto>
<script type="text/javascript">
    $(document).ready(function () {
        FnInitFormListaProducto();
    });
    function FnInitFormListaProducto() {
        var CallByListProd = $("#hiddListPrecVent_CallBy").val();
        if (CallByListProd == "SolicitudTrasladoCreate") {
            document.getElementById("THMarca").style.display = "";
            document.getElementById("THSubFalimia").style.display = "";
            document.getElementById("THPrecUnidad").style.display = "none";
            document.getElementById("THPrecMayor").style.display = "none";
            document.getElementById("THPrecEspecial").style.display = "none";
            var table = document.getElementById('tBodyListProducto');
            var cantRows = table.rows.length;
            var newTr = "";
            if (cantRows > 0) {
                for (var i = 0; i < cantRows; i++) {
                    newTr = table.rows[i].id;
                    if (newTr.trim() != "") {
                        document.getElementById("TDDescMarc" + newTr).style.display = "";
                        document.getElementById("TDDescSubFami" + newTr).style.display = "";
                        document.getElementById("TDPrec" + newTr).style.display = "none";
                        document.getElementById("TDPrecMayor" + newTr).style.display = "none";
                        document.getElementById("TDPrecEspe" + newTr).style.display = "none";
                    }
                }
            }
        }
    }
</script>
@{
    string CallBy = ViewBag.CallBy;
    string TRListPrecVent = "";
    string TDFkProd = "";
    string TDCodiProd = "";
    string TDCodiSku = "";
    string TDNombProd = "";
    string TDDescMarc = "";
    string TDDescSubFami = "";
    string TDPrec = "";
    string TDPrecMayor = "";
    string TDPrecEspe="";
    string TDFkTipoAfecIgv = "";
    string TDFlgAfecIgv = "";
    string TDPorcIgv = "";
}
@Html.Hidden("hiddListPrecVent_CallBy", CallBy)
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">Listado </span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <table class="table table-striped table-hover table-bordered" id="editpreciotable">
                    <thead>
                        <tr role="row">
                            <th style="display:none">
                                @Html.DisplayNameFor(model => model.id_producto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cod_producto)
                            </th>
                            <th style="display:none">
                                @Html.DisplayNameFor(model => model.codigo_sku)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.nom_producto)
                            </th>
                            <th id="THMarca" style="display:none">
                                @Html.DisplayNameFor(model => model.descripcion_producto_marca)
                            </th>
                            <th id="THSubFalimia" style="display:none">
                                @Html.DisplayNameFor(model => model.descripcion_producto_subfamilia)
                            </th>
                            <th id="THPrecUnidad">
                                @Html.DisplayNameFor(model => model.precio_unidad_precio_venta)
                            </th>
                            <th id="THPrecMayor">
                                @Html.DisplayNameFor(model => model.precio_mayor_precio_venta)
                            </th>
                            <th id="THPrecEspecial">
                                @Html.DisplayNameFor(model => model.precio_especial_precio_venta)
                            </th>
                            <th style="display:none">
                                @Html.DisplayNameFor(model => model.fk_tipo_afectacion_igv)
                            </th>
                            <th style="display:none">
                                @Html.DisplayNameFor(model => model.flag_afecto_igv)
                            </th>
                            <th style="display:none">
                                @Html.DisplayNameFor(model => model.porcentaje)
                            </th>
                            <th style="width: 100px;">...</th>
                        </tr>
                    </thead>

                    <tbody id="tBodyListProducto">
                        @foreach (var item in Model)
                        {
                            TRListPrecVent = "TRListPrecVent" + item.id_producto;
                            TDFkProd = "TDFkProd" + TRListPrecVent;
                            TDCodiProd = "TDCodiProd" + TRListPrecVent;
                            TDCodiSku = "TDCodiSku" + TRListPrecVent;
                            TDNombProd = "TDNombProd" + TRListPrecVent;
                            TDDescMarc = "TDDescMarc" + TRListPrecVent;
                            TDDescSubFami = "TDDescSubFami" + TRListPrecVent;
                            TDPrec = "TDPrec" + TRListPrecVent;
                            TDPrecMayor = "TDPrecMayor" + TRListPrecVent;
                            TDPrecEspe = "TDPrecEspe" + TRListPrecVent;
                            TDFkTipoAfecIgv = "TDFkTipoAfecIgv" + TRListPrecVent;
                            TDFlgAfecIgv = "TDFlgAfecIgv" + TRListPrecVent;
                            TDPorcIgv = "TDPorcIgv" + TRListPrecVent;
                            <tr id="@TRListPrecVent">
                                <td id="@TDFkProd" style="display:none">
                                    @Html.DisplayFor(modelItem => item.id_producto)
                                </td>
                                <td id="@TDCodiProd" class="input-xs">
                                    @Html.DisplayFor(modelItem => item.cod_producto)
                                </td>
                                <td id="@TDCodiSku" style="display:none">
                                    @Html.DisplayFor(modelItem => item.codigo_sku)
                                </td>
                                <td id="@TDNombProd" class="input-xs">
                                    @Html.DisplayFor(modelItem => item.nom_producto)
                                </td>
                                <th id="@TDDescMarc" class="input-xs" style="display:none">
                                    @Html.DisplayFor(model => item.descripcion_producto_marca)
                                </th>
                                <th id="@TDDescSubFami" class="input-xs" style="display:none">
                                    @Html.DisplayFor(model => item.descripcion_producto_subfamilia)
                                </th>
                                <td id="@TDPrec" style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.precio_unidad_precio_venta)
                                </td>
                                <td id="@TDPrecMayor" style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.precio_mayor_precio_venta)
                                </td>
                                <td id="@TDPrecEspe" style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.precio_especial_precio_venta)
                                </td>
                                <td id="@TDFkTipoAfecIgv" style="display:none">
                                    @Html.DisplayFor(modelItem => item.fk_tipo_afectacion_igv)
                                </td>
                                <td id="@TDFlgAfecIgv" style="display:none">
                                    @Html.DisplayFor(modelItem => item.flag_afecto_igv)
                                </td>
                                <td id="@TDPorcIgv" style="display:none">
                                    @Html.DisplayFor(modelItem => item.porcentaje)
                                </td>
                                <td style="text-align: center;">
                                    <button class="btn btn-success .shiny" style="padding:0;font-size:small;margin-top:-5px" onclick="FnAddVenta('@TRListPrecVent')">AGREGAR</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="horizontal-space"></div>
            <div class="row">
                <div class="col-md-2" style="float: right;">
                    <button class="btn bg-blue shiny" type="button" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var id_producto = 0;

    function FnAddVenta(newTr) {
        var CallBy = $("#hiddListPrecVent_CallBy").val();
       
        var arrVentDeta = [];
        var FkProd = "";
        var CodiProd = "";
        var CodiSku = "";
        var NombProd = "";
        var DescMarc = "";
        var DescSubFami = "";
        var Prec = "";
        var FkTipoAfecIgv = "";
        var FlgAfecIgv = "";
        var PorcIgv = "";
        var PrecUnit = "";
        var PrecMayo = "";
        var rptaExiste = 0;

        FkProd = document.getElementById("TDFkProd" + newTr).innerHTML;
        CodiProd = document.getElementById("TDCodiProd" + newTr).innerHTML;
        CodiSku = document.getElementById("TDCodiSku" + newTr).innerHTML;
        NombProd = document.getElementById("TDNombProd" + newTr).innerHTML;
        DescMarc = document.getElementById("TDDescMarc" + newTr).innerHTML;
        DescSubFami = document.getElementById("TDDescSubFami" + newTr).innerHTML;
        Prec = document.getElementById("TDPrec" + newTr).innerHTML;
        FkTipoAfecIgv = document.getElementById("TDFkTipoAfecIgv" + newTr).innerHTML;
        FlgAfecIgv = document.getElementById("TDFlgAfecIgv" + newTr).innerHTML;
        PorcIgv = document.getElementById("TDPorcIgv" + newTr).innerHTML;
        PrecUnit = document.getElementById("TDPrec" + newTr).innerHTML;
        PrecMayo = document.getElementById("TDPrecMayor" + newTr).innerHTML;
        arrVentDeta[0] = FkProd.trim();
        arrVentDeta[1] = CodiProd.trim();
        arrVentDeta[2] = CodiSku.trim();
        arrVentDeta[3] = NombProd.trim();
        arrVentDeta[4] = DescMarc.trim();
        arrVentDeta[5] = DescSubFami.trim();
        arrVentDeta[6] = Prec.trim();
        arrVentDeta[7] = FkTipoAfecIgv.trim();
        arrVentDeta[8] = FlgAfecIgv.trim();
        arrVentDeta[9] = PorcIgv.trim();
        arrVentDeta[10] = PrecUnit.trim();
        arrVentDeta[11] = PrecMayo.trim();
        if (CallBy == "ComprobanteVentaCreate") {
            rptaExiste = FnValidaExisteProducto(FkProd);
            if (rptaExiste == 0) {
                FnAgregaNeProductoVentaDetalle(arrVentDeta);
            }
            else {
                sweetAlert("", "Producto ya se encuentra agregado", "error");
            }
        }
        else if (CallBy == "SolicitudTrasladoCreate") {
            rptaExiste = FnValidaExisteProducto(FkProd);
            if (rptaExiste == 0) {
                FnAgregaNeProductoSolicitudTraslado(FkProd, CodiProd, CodiSku, NombProd, DescMarc, DescSubFami);
            }
            else {
                sweetAlert("", "Producto ya se encuentra agregado", "error");
            }
        }
        else if (CallBy == "ReporteKardex") {
            FnAddDataRepoKardexProducto(FkProd, NombProd);
            $('#myModalPrecVenta').modal('hide');
        }//
        else if (CallBy == "ReporteProdExistencia") {
            FnAddDataRepoKardexProdExistencia(FkProd, NombProd);
            $('#myModalPrecVenta').modal('hide');
        }
    }

    $(document).ready(function () {
            IniciaPrecioTable();
    });

    //Initiateeditpreciotable.init();
    function IniciaPrecioTable() {
        //Datatable Initiating
        oTable = $('#editpreciotable').dataTable({
            "aLengthMenu": [
                [5, 10, 15, 20, 100, -1],
                [5, 10, 15, 20, 100, "All"]
            ],
            "retrieve": "true",
            "iDisplayLength": 10,
            "sPaginationType": "bootstrap",
            "sDom": "Tflt<'row DTTTFooter'<'col-sm-6'i><'col-sm-6'p>>",
            "oTableTools": {
                "aButtons": [
                ],
                "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf"
            },
            "language": {
                "search": "",
                "sLengthMenu": "_MENU_",
                "oPaginate": {
                    "sPrevious": "Ant",
                    "sNext": "Sig"
                }
            },

            "aoColumns": [
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                { "bSortable": false }
            ]
        });
        var isEditing = null;
    }
</script>

