
@{
    ViewBag.Title = "Registro de Contratos";
    ViewBag.Description = "Contratos";
    Layout = "~/Views/Shared/_Default.cshtml";
    ViewBag.LogoHorizontal = ViewBag.LogoHorizontals;
}

@using System
@model IEnumerable<ERP.Admin.Models.PersonalContratoErp>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">Listado </span>
                <div class="widget-buttons">
                    @if (Request.UrlReferrer != null)
                    {
                        <a class="btn btn-danger" style="width:60px" onclick="history.go(-1); return false;" href="#">Atras</a>
                    }
                    <a id="NewRegistro" class="btn btn-sm btn-primary" style="width: 60px" href="@Url.Action("NewContratos","Personal")">
                        Nuevo
                    </a>
                    <a href="#" onclick="return Exporter.export(editabledatatable2, 'PersonalContratos.xls', 'PersonalContratos')">
                        <img style="text-align: center; vertical-align: central; border: none !important;" src="~/img/Excel_32.ico" />
                    </a>
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <table class="table table-striped table-hover table-bordered" id="editabledatatable2" style="overflow-x: auto; display: block;white-space: nowrap; margin: auto; width: 100%">
                    <thead>
                        <tr role="row">
                            <th style="text-align: center; font-size: 11px;display:none">
                                id_contrato
                            </th>
                            <th style="text-align: center; font-size: 11px">
                                DOCUMENTO
                            </th>
                            <th style="text-align: center;font-size: 11px;display: none">
                                IDCONTRATO
                            </th>
                            <th style="text-align: center; font-size: 11px">
                                NOMBRES
                            </th>
                            <th style="text-align: center; font-size: 11px">
                                PLANILLA
                            </th>
                            <th style="text-align: center; font-size: 11px">
                                TIPO CONTRATO
                            </th>
                            <th style="text-align: center; font-size: 11px">
                                BASICO
                            </th>
                            <th style="text-align: center; font-size: 11px">
                                BONIFICACION
                            </th>
                            <th style="text-align: center; font-size: 11px">
                                MOVILIDAD
                            </th>
                            <th style="text-align: center; font-size: 11px">
                                OTROS
                            </th>
                            <th style="text-align: center; font-size: 11px">
                                INICIO CONTRATO
                            </th>
                            <th style="text-align: center; font-size: 11px">
                                FINAL CONTRATO
                            </th>
                            <th style="text-align: center; font-size: 11px">
                                FIRMA CONTRATO
                            </th>
                            <th style="text-align: center; font-size: 11px">
                                FIRMA FISICA
                            </th>
                            <th style="text-align: center; font-size: 11px">
                                DURACION
                            </th>
                            <th style="text-align: center; font-size: 11px">
                                A PRUEBA
                            </th>
                            <th style="text-align: center; font-size: 11px;display: none">
                                CONTRATO ADENDA
                            </th>
                            <th style="        text-align: center;
        font-size: 11px;
        display: none
">
                                INICIO ADENDA
                            </th>
                            <th style="        text-align: center;
        font-size: 11px;
        display: none
">
                                FIN ADENDA
                            </th>
                            <th style="        text-align: center;
        font-size: 11px;
        display: none
">
                                CONTRATO PRORROGA
                            </th>
                            <th style="        text-align: center;
        font-size: 11px;
        display: none
">
                                INICIO PRORROGA
                            </th>
                            <th style="        text-align: center;
        font-size: 11px;
        display: none
">
                                FIN PRORROGA
                            </th>
                            @*<th style="text-align: center; font-size: 11px;">
                                    DESCRIPCION
                                </th>*@
                            <th style="        text-align: center;
        font-size: 11px;display: none">
                                APODERADO
                            </th>
                            <th style="text-align: center; font-size: 11px">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var identidad = "Tr" + item.id_contrato;
                            string basicos = item.BASICO.ToString("N");
                            string bonificacion = item.BONIFICACION.ToString("N");
                            string movilidad = item.MOVILIDAD.ToString("N");
                            string otros = item.OTROS.ToString("N");
                            string inicio_contrato = "";
                            if (item.INICIO_CONTRATO.ToString("dd/MM/yyyy") != "01/01/1901")
                            {
                                inicio_contrato = item.INICIO_CONTRATO.ToString("dd/MM/yyyy");
                            }
                            string final_contrato = "";
                            if (item.FINAL_CONTRATO.ToString("dd/MM/yyyy") != "01/01/1901")
                            {
                                inicio_contrato = item.FINAL_CONTRATO.ToString("dd/MM/yyyy");
                            }
                            string inicio_adenda = "";
                            if (item.INICIO_ADDENDUM.ToString("dd/MM/yyyy") != "01/01/1901")
                            {
                                inicio_adenda = item.INICIO_ADDENDUM.ToString("dd/MM/yyyy");
                            }
                            string final_adenda = "";
                            if (item.FINAL_ADDENDUM.ToString("dd/MM/yyyy") != "01/01/1901")
                            {
                                final_adenda = item.FINAL_ADDENDUM.ToString("dd/MM/yyyy");
                            }
                            string inicio_prorroga = "";
                            if (item.INICIO_PRORROGA.ToString("dd/MM/yyyy") != "01/01/1901")
                            {
                                inicio_prorroga = item.INICIO_PRORROGA.ToString("dd/MM/yyyy");
                            }
                            string final_prorroga = "";
                            if (item.FIN_PRORROGA.ToString("dd/MM/yyyy") != "01/01/1901")
                            {
                                final_prorroga = item.FIN_PRORROGA.ToString("dd/MM/yyyy");
                            }
                            string firma_contrato = "";
                            if (item.FIRMA_CONTRATO.ToString("dd/MM/yyyy") != "01/01/1901")
                            {
                                firma_contrato = item.FIRMA_CONTRATO.ToString("dd/MM/yyyy");
                            }
                            <tr id="@identidad">
                                <td style="font-size: 11px; text-align: center;display:none">
                                    @Html.DisplayFor(modelItem => item.id_contrato)
                                </td>
                                <td style="font-size: 11px; text-align: center">
                                    @Html.DisplayFor(modelItem => item.IDCODIGOGENERAL)
                                </td>
                                <td style="font-size: 11px;text-align: left;display: none">
                                    @Html.DisplayFor(modelItem => item.IDCONTRATO)
                                </td>
                                <td style="font-size: 11px; text-align: left">
                                    @Html.DisplayFor(modelItem => item.NOMBRES)
                                </td>
                                <td style="font-size: 11px; text-align: left">
                                    @Html.DisplayFor(modelItem => item.PLANILLA)
                                </td>
                                <td style="font-size: 11px; text-align: left">
                                    @Html.DisplayFor(modelItem => item.TIPOCONTRATO)
                                </td>
                                <td style="font-size: 11px; text-align: left">
                                    @basicos
                                </td>
                                <td style="font-size: 11px; text-align: left">
                                    @bonificacion
                                </td>
                                <td style="font-size: 11px; text-align: left">
                                    @movilidad
                                </td>
                                <td style="font-size: 11px; text-align: left">
                                    @otros
                                </td>
                                <td style="font-size: 11px; text-align: left">
                                    @inicio_contrato
                                </td>
                                <td style="font-size: 11px; text-align: left">
                                    @final_contrato
                                </td>
                                <td style="font-size: 11px; text-align: left">
                                    @firma_contrato
                                </td>
                                <td style="font-size: 11px; text-align: left">
                                    @Html.DisplayFor(modelItem => item.DFIRMA_FISICA)
                                </td>
                                <td style="font-size: 11px; text-align: left">
                                    @Html.DisplayFor(modelItem => item.DURACION)
                                </td>
                                <td style="font-size: 11px; text-align: left">
                                    @Html.DisplayFor(modelItem => item.PERIODO_PRUEBA)
                                </td>
                                <td style="        font-size: 11px;
        text-align: left;
        display: none">
                                    @Html.DisplayFor(modelItem => item.CONTRATO_ADDEMDUM)
                                </td>
                                <td style="        font-size: 11px;
        text-align: left;
        display: none
">
                                    @inicio_adenda
                                </td>
                                <td style="        font-size: 11px;
        text-align: left;
        display: none
">
                                    @final_adenda
                                </td>
                                <td style="        font-size: 11px;
        text-align: left;
        display: none
">
                                    @Html.DisplayFor(modelItem => item.CONTRATO_PRORROGA)
                                </td>
                                <td style="        font-size: 11px;
        text-align: left;
        display: none
">
                                    @inicio_prorroga
                                </td>
                                <td style="        font-size: 11px;
        text-align: left;
        display: none
">
                                    @final_prorroga
                                </td>
                                <td style="        font-size: 11px;
        text-align: left;
        display: none
">
                                    @Html.DisplayFor(modelItem => item.APODERADO)
                                </td>
                                <td class="input-xs" style="font-size: 11px; text-align: center; vertical-align: middle">
                                    <button class="btn btn-sm btn-primary edita" style="padding: 2px; font-size: small; margin-top: -5px">Editar</button>
                                    <button class="btn btn-sm btn-danger elimina" style="padding: 2px; font-size: small; margin-top: -5px">Eliminar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id='myModalNew' class='modal fade in' role="dialog">
    <div class="modal-dialog" style="width:450px; height:auto">
        <div class="modal-content">
            <div id='myModalContentNew'></div>
        </div>
    </div>
</div>
@section PageScripts{
    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>

    <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
    <script src="~/assets/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/datatable/datatables-init.js"></script>
    <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/inputmask/jasny-bootstrap.min.js"></script>
    <script src="~/assets/js/select2/select2.js"></script>
    <!--Bootstrap Tags Input-->
    <script src="~/assets/js/tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/assets/js/datetime/moment.js"></script>
    <!--Bootstrap Date Picker-->
    <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>

    <script>
        function InputToUpper(obj) {
            if (obj.value != "") {
                obj.value = obj.value.toUpperCase();
            }
        }
        $('#myModalNew').on('hide.bs.modal',
            function(e) {
                window.location.reload();
            });
    $('#myModalNew').on('shown.bs.modal',
            function(e) {

                $(document).ready(function() {

                });

                var idx = $("#IDCARGOx").val();
                var DESCRIPCIONxx = $("#DESCRIPCIONx").val();

                if (idx != "") {
                    $("#txtDescripcion").val(DESCRIPCIONxx);
                }

                $("#GuardarEntidad").click(function() {

                    var id_save = 0;
                    var IDCARGO = $("#IDCARGOx").val();
                    var DESCRIPCION = $("#txtDescripcion").val();

                    if (DESCRIPCION === '' ) {
                        swal("", "Datos Incompletos", "error");
                        $("#txtDescripcion").focus();
                        return false;
                    }


                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GuardaCargo", "Personal")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({
                            IDCARGO: IDCARGO,
                            DESCRIPCION: DESCRIPCION
                        }),
                        dataType: 'json',
                        traditional: true,
                        success: function(data) {
                            console.log(data);
                            id_save = data;
                            if (parseInt(id_save, 10) > 0) {
                                swal({
                                    title: 'Exito!',
                                    text: 'Se registró correctamente',
                                    type: 'success',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Ok'
                                }).then(function() {
                                    console.log("salirs");
                                    $("#btnCancel").click();
                                })

                            } else {
                                sweetAlert("", "No se pudo registrar!", "error");
                                id_save = 0;
                            }
                        }
                    });

                });


            });

        $("#NewRegistro").click(function() {

            idpersonalcontrato = 0;
            var options = { "backdrop": "static", keyboard: false };
            $.ajax({
                type: 'GET',
                url: '@Url.Action("RegistroPersonalCOntrato", "Personal")',
                contentType: "application/json; charset=utf-8",
                data: { id_save: idpersonalcontrato },
                dataType: 'html',
                success: function(response) {
                    $('#myModalContentNew').html(response);
                    $('#myModalNew').modal(options);
                    $('#myModalNew').modal('show');
                },
                error: function(request, status, error) {
                    alert(request.responseText);
                }
            });
        });

        $(document).on('click', '.elimina', function () {
            var tableRow = $(this).closest("tr");
            var idpersonalcargo = tableRow.find("td:eq(0)").text();
            idpersonalcargo = idpersonalcargo.trim();
            var options = { "backdrop": "static", keyboard: false };
            swal({
                title: '¿Está seguro?',
                text: "Se va a eliminar los datos del banco!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Si!'
            }).then((result) => {
                $.ajax({
                type: 'POST',
                url: '@Url.Action("EliminaCargo", "Personal")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    idpersonalcargo: idpersonalcargo
                }),
                dataType: 'json',
                traditional: true,
                success: function (data) {
                    console.log(data);
                    id_save = data;
                    if (parseInt(id_save, 10) > 0) {
                        swal({
                        title: 'Exito!',
                        text: 'Se eliminó correctamente',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Ok'
                        }).then(function() {
                            window.location.reload();
                        });
                    } else {
                        sweetAlert("", "No se pudo registrar!", "error");
                        id_save = 0;
                    }
                }
                });
            }, function (dismiss) {
            if (dismiss === 'cancel' || dismiss === 'close') {
            // ignore
            }
        });
        });

        $(document).on('click',
            '.edita',
            function() {
                var tableRow = $(this).closest("tr");
                idpersonalcargo = tableRow.find("td:eq(0)").text();
                idpersonalcargo = idpersonalcargo.trim();

                var options = { "backdrop": "static", keyboard: false };
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("RegistroContrato", "Personal")',
                    contentType: "application/json; charset=utf-8",
                    data: { id_save: idpersonalcargo },
                    dataType: 'html',
                    success: function(response) {
                        $('#myModalContentNew').html(response);
                        $('#myModalNew').modal(options);
                        $('#myModalNew').modal('show');
                    },
                    error: function(request, status, error) {
                        alert(request.responseText);
                    }
                });
                return false;
            });
        $(document).ready(function() {
            Inicia();
        });

        function Inicia() {
            //Datatable Initiating
            oTable = $('#editabledatatable2').dataTable({
                "aLengthMenu": [
                    [5, 15, 20, 100, -1],
                    [5, 15, 20, 100, "All"]
                ],
                "retrieve": "true",
                "iDisplayLength": 20,
                "sPaginationType": "bootstrap",
                "sDom": "Tflt<'row DTTTFooter'<'col-sm-6'i><'col-sm-6'p>>",
                "oTableTools": {
                    "aButtons": [
                        //"copy",
                        "print"
                    ],
                    "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf"
                },
                "language": {
                    "search": "",
                    "sLengthMenu": "_MENU_",
                    "oPaginate": {
                        "sPrevious": "Ant",
                        "sNext": "Sig"
                    }
                }

            });
        }
    </script>
}

