@using ERP.Admin.Models
@{
    var _entidadp = (Producto)ViewBag.Producto;
    int id_producto = 0;

    int fk_producto_marcas = 0;

    string cod_productos = "";
    string nom_productos = "";
    string codigo_skus = "";

    string descripcion_producto_marcas = "";



    if (_entidadp != null)
    {
        id_producto = _entidadp.id_producto;
       
        fk_producto_marcas = _entidadp.fk_producto_marca;
       
        cod_productos = _entidadp.cod_producto;
        nom_productos = _entidadp.nom_producto;
        codigo_skus = _entidadp.codigo_sku;
        
        descripcion_producto_marcas = _entidadp.descripcion_producto_marca;
       
    }
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "MyForm" }))
{
}

@Html.Hidden("id_productox", @id_producto)

@Html.Hidden("fk_producto_marcasx", @fk_producto_marcas)

@Html.Hidden("cod_productosx", @cod_productos)
@Html.Hidden("nom_productosx", @nom_productos)
@Html.Hidden("codigo_skusx", @codigo_skus)

@Html.Hidden("descripcion_producto_marcasx", @descripcion_producto_marcas)

<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-red">
                <span class="widget-caption">Nuevo registro de producto</span>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    @using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal)))
                    {
                        <div class="row">
                            <div class="form-group" style="margin:0">
                                <label class="col-sm-5 control-label" style="text-align:left;width:120px">Marca <sup>*</sup></label>
                                <div class="col-md-6" >
                                    @Html.DropDownList("txtValBus_Marca", new SelectList(ViewBag.ProductoMarca, "id_producto_marca", "descripcion"), new { @class = "form-control dropdown - menu" })
                                    @Html.Hidden("idproducto_marca")
                                    @Html.Hidden("marcax")
                                    <div class="horizontal-space"></div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="form-group" style="margin:0">
                                <label class="col-sm-5 control-label" style="text-align:left;width:120px">Nombre <sup>*</sup></label>
                                <div class="col-md-6" style="width:400px">
                                    @Html.Bootstrap().TextBox("nom_producto").HtmlAttributes(new { @class = "form-control", @onkeyup = "InputToUpper(this)" }).Placeholder("Nombre de producto")
                                    <div class="horizontal-space"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group" style="margin:0">
                                <label class="col-sm-5 control-label" style="text-align:left;width:120px">Codigo SKU <sup>*</sup></label>
                                <div class="col-sm-6" style="width:150px">
                                    @Html.Bootstrap().TextBox("codigo_sku").HtmlAttributes(new { @onkeyup = "InputToUpper(this)" }).Placeholder("Codigo SKU")
                                    <div class="horizontal-space"></div>
                                </div>
                                
                            </div>
                        </div>
                       
                     
                        <div class="row">
                            <div class="form-group" style="margin:0">
                                <label for="file" class="col-sm-3 control-label" style="text-align:left;width:80px;padding-right:0">Imagen </label>
                                <div class="col-md63" style="width:450px">
                                    <input type="text" id="lblNombArch" style="margin-top:15px; background-color: transparent; border: none;display:none" readonly="readonly" />
                                    <input type="file" name="FileUpload" id="FileUpload1" onChange="Handlechange();" style="margin-top:5px;margin-left:135px" accept=".png , .jpg" />
                                    <div class="horizontal-space"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="text-align:right;vertical-align:middle;width:50%">
                                @Html.Bootstrap().Button().Text("Guardar").Id("Guardar").Color(BootstrapColors.Blue).Shiny()
                            </div>
                            <div class="col-md-2">
                                <button class="btn bg-blue shiny" type="button" id="btnCancel" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>
@section PageScripts{
    <!--Jquery Select2-->
    <script src="~/assets/js/select2/select2.js"></script>
    <!--Bootstrap Tags Input-->
    <script src="~/assets/js/tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/assets/js/datetime/moment.js"></script>
    <!--Bootstrap Date Picker-->
    <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

        });


    </script>
}




