@model IEnumerable<ERP.Admin.Models.Transporte>
@{
    string IdTrTran = "";
    string TDIdTran = "";
    string TDNroPlac = "";

    string CallBy = ViewBag.CallBy;
}
@Html.Hidden("txtTransList_CallBy", CallBy)
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">Orden de Compra > Listado </span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <table class="table table-striped table-hover table-bordered" id="editableCompra">
                    <thead>
                        <tr role="row">
                            <th style="display:none">
                                Id_TRANSPORTE
                            </th>
                            <th>
                                Nro Placa
                            </th>
                            <th>
                                Estado
                            </th>
                            <th style="display: none;">
                                HiddEstado
                            </th>
                            <th>
                                ...
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            IdTrTran = "TrComp" + item.id_transporte;
                            TDIdTran = "TDIdTran" + IdTrTran;
                            TDNroPlac = "TDNroPlac" + IdTrTran;
                            <tr id="@IdTrTran">
                                <td id="@TDIdTran" style="display:none">
                                    @Html.DisplayFor(modelItem => item.id_transporte)
                                </td>
                                <td id="@TDNroPlac" class="input-xs">
                                    @Html.DisplayFor(modelItem => item.n_placa)
                                </td>
                                <td class="input-xs">
                                    @Html.DisplayFor(modelItem => item.NEstado)
                                </td>
                                <td style="display: none;">
                                    @Html.DisplayFor(modelItem => item.estado)
                                </td>
                                <td>
                                    @if (item.estado == "1")
                                    {
                                        <a class="btn btn-success btn-xs" onclick="FnSelecTransporte(this)"> Seleccionar</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="horizontal-space"></div>
                <div class="row">
                    <div class="col-md-2" style="text-align:right; vertical-align: middle; width:60%">
                        <button class="btn bg-blue shiny" type="button" id="btnCancel" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        Inicia();
    });

    function FnSelecTransporte(obj) {
        var IdTrsele = obj.parentElement.parentElement.id;
        var IdTran = document.getElementById("TDIdTran" + IdTrsele).innerHTML.trim();
        var NroPlac = document.getElementById("TDNroPlac" + IdTrsele).innerHTML.trim();
        var CallBy = $("#txtTransList_CallBy").val();
        if (IdTran.trim() != "") {
            if (CallBy.trim() == "GuiaRemiCreate") {
                FnAddDataTransporteCreate(IdTran, NroPlac);
            } else if (CallBy.trim() == "GuiaRemiEdit") {
                FnAddDataProvedor(IdTran, NroPlac);
            }
            $('#myModalTransporte').modal('hide');
        }
    }

    //InitiateeditableCompra.init();
    function Inicia() {
        //Datatable Initiating
        oTable = $('#editableCompra').dataTable({
            "aLengthMenu": [
                [5, 10, 15, 20, 100, -1],
                [5, 10, 15, 20, 100, "All"]
            ],
            "retrieve": "true",
            "iDisplayLength": 10,
            "sPaginationType": "bootstrap",
            "sDom": "Tflt<'row DTTTFooter'<'col-sm-6'i><'col-sm-6'p>>",
            "oTableTools": {
                "aButtons": [
                    //"copy",
                    //"print"
                    //,
                    //{
                    //    "sExtends": "collection",
                    //    "sButtonText": "Save <i class=\"fa fa-angle-down\"></i>",
                    //    "aButtons": ["csv", "xls", "pdf"]
                    //}
                ],
                "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf"
            },
            "language": {
                "search": "",
                "sLengthMenu": "_MENU_",
                "oPaginate": {
                    "sPrevious": "Ant",
                    "sNext": "Sig"
                }
            },

            "aoColumns": [
                null,
                null,
                null,
                null,
                { "bSortable": false }
            ]
        });
        //console.log("nRowoTable: " + JSON.stringify($('#editableCompra')));
        var isEditing = null;
    }
</script>
