@using ERP.Admin.Models
@{
    var compraactual = (CompraErp)ViewBag.Compra;
    int idcompra = 0;
    int fkordencompra = 0;
    string idusuario = "";
    int fkempresa = 0;
    string ncompra = "";
    string fcompra = "";
    string motivocierre = "";
    string agenciatransporte = "";
    string observacion = "";
    string estado = "";
    string idcodigogeneral = "";
    string nroguia = "";
    string fregistro = "";
    int fkproyecto = 0;
    int fkalmacen = 0;
    string nro_factura = "";
    string credito = "";
    string IDMONEDA = "";


    if (compraactual != null)
    {
        idcompra = compraactual.id_compra;
        fkordencompra = compraactual.fk_orden_compra;
        idusuario = compraactual.IDUSUARIO;
        fkempresa = compraactual.fk_empresa;
        ncompra = compraactual.n_compra;
        fcompra = compraactual.f_compra.ToString("dd/MM/yyyy");
        motivocierre = compraactual.motivo_cierre;
        agenciatransporte = compraactual.agencia_transporte;
        observacion = compraactual.observacion;
        estado = compraactual.estado;
        idcodigogeneral = compraactual.IDCODIGOGENERAL;
        nroguia = compraactual.nro_guia;
        fkproyecto = compraactual.fk_proyecto;
        fkalmacen = compraactual.fk_almacen;
        nro_factura = compraactual.nro_factura;
        credito = compraactual.credito;
        IDMONEDA = compraactual.IDMONEDA;

    }
    var _detallescompra = (List<CompraDetalle>)ViewBag.CompraDetalle;
}

@Html.Hidden("id_comprax", @idcompra)
@Html.Hidden("fkordencomprax", @fkordencompra)
@Html.Hidden("idusuariox", @idusuario)
@Html.Hidden("fkempresax", @fkempresa)
@Html.Hidden("ncomprax", @ncompra)
@Html.Hidden("fcomprax", @fcompra)
@Html.Hidden("motivocierrex", @motivocierre)
@Html.Hidden("agenciatransportex", @agenciatransporte)
@Html.Hidden("observacionx", @observacion)
@Html.Hidden("estadox", @estado)
@Html.Hidden("idcodigogeneralx", @idcodigogeneral)
@Html.Hidden("nroguiax", @nroguia)
@Html.Hidden("fkproyectox", @fkproyecto)
@Html.Hidden("_detallescomprax", @_detallescompra)
@Html.Hidden("fkalmacenx", @fkalmacen)
@Html.Hidden("nro_facturax", @nro_factura)
@Html.Hidden("creditox", @credito)
@Html.Hidden("IDMONEDAx", @IDMONEDA)

@Html.Hidden("sfecha_compra", "")
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget" style="margin-bottom:0">
            <div class="widget-header bordered-bottom bordered-red">
                <span class="widget-caption">Nuevo registro de compra</span>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    @using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal)))
                    {
                        <div class="row" style="margin-bottom: 5px">
                            <div class="form-group" style="margin:0">
                                <label class="col-sm-5 control-label" style="text-align:left;width:120px">Proveedor <sup>*</sup></label>
                                <div class="col-md-6" style="width:450px">
                                    @Html.DropDownList("txtValBus_Proveedor", new SelectList(ViewBag.Proveedor, "id_empresa", "razon_social"), new { @class = "form-control input-sm" })
                                </div>
                                <label class="col-sm-2 control-label" style="text-align:left;width:110px">F. Compra <sup>*</sup></label>
                                <div class="col-md-3" style="width: 180px">
                                    <div class='input-group'>
                                        <input class='form-control date-pickerFecha' id='txtFecha' type='text' data-date-format='dd/mm/yyyy'>
                                        <span class='input-group-addon'>
                                            <i class='fa fa-calendar'></i>
                                        </span>

                                    </div>
                                </div>
                                <div class="col-md-2" style="">
                                    @Html.Bootstrap().CheckBox("form-field-checkbox").Text("Crédito").IsChecked(false).HtmlAttributes(new
                                    {@*@onchange = "FnActivaDetraccion(this)",*@@id = "chkcredito",@class = "colored-danger"})
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5px">
                            <div class="form-group" style="margin: 0">
                                <label class="col-sm-5 control-label" style="text-align:left;width:120px">Solicitante <sup>*</sup> </label>
                                <div class="col-sm-6" style="width:450px">
                                    @Html.DropDownList("txtValBus_Personal", new SelectList(ViewBag.Personal, "IDCODIGOGENERAL", "NOMBRES_FULL"), new { @class = "form-control dropdown-menu", @style = "width:420px", @onkeyup = "InputToUpper(this)" })
                                </div>
                                <label class="col-sm-2 control-label" style="text-align: left; width: 110px">Factura/Guia </label>
                                <div class="col-md-2" style="width: 160px">
                                    @Html.Bootstrap().TextBox("nro_factura").HtmlAttributes(new { @style = "width:150px", @class = "form-control", @onkeyup = "InputToUpper(this)" }).Placeholder("Factura")
                                </div>
                                <div class="col-md-2" style="width: 160px">
                                    @Html.Bootstrap().TextBox("nro_guia").HtmlAttributes(new { @style = "width:150px", @class = "form-control", @onkeyup = "InputToUpper(this)" }).Placeholder("Guia")
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5px">
                            <div class="form-group" style="margin: 0">
                                <label class="col-sm-2 control-label" style="text-align:left;width:120px">Centro Costo </label>
                                <div class="col-sm-4" style="width:450px">
                                    @Html.DropDownList("txtValBus_Proyecto", new SelectList(ViewBag.Proyectos, "id_proyecto", "descripcionf"), new { @class = "form-control dropdown-menu", @style = "width:420px", @onkeyup = "InputToUpper(this)" })
                                </div>
                                <label class="col-sm-2 control-label" style="text-align:left;width:110px">Moneda </label>
                                <div class="col-sm-4" style="width:330px">
                                    @Html.DropDownList("txtValBus_Moneda", new SelectList(ViewBag.Monedas, "IDMONEDA", "DESCRIPCION"), new { @class = "form-control dropdown-menu", @style = "width:320px", @onkeyup = "InputToUpper(this)" })
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-md-6"> <h5 class="card-title">Productos</h5></div>
                            <div class="col-md-6" style="text-align: right; margin-top: 5px; padding-right: 17px">
                                @Html.Bootstrap().Button().Text("Agregar").Color(BootstrapColors.Primary).IconPrepend(FontAwesome.ShoppingCart).Size(ButtonSize.Mini).HtmlAttributes(new { @title = "Listado", @onclick = "FnListaProducto('CompCreate')" })
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px">
                            <div class="form-group" style="margin: 1px">
                                <div class="col-md-12">
                                    <table class="table table-striped table-hover table-bordered" id="tblCompDeta" 
                                           style="margin: 0 auto;height:25em;display:inline-block;overflow-y:scroll">
                                        <thead>
                                            <tr role="row">
                                                <th style=" font-size: 10px;display:none">
                                                    id_compra_detalle
                                                </th>

                                                <th style="font-size: 10px; display: none">
                                                    fk_producto
                                                </th>
                                                <th style="width: 70px; text-align: center; font-size: 10px">
                                                    CODIGO
                                                </th>
                                                <th style="width: 70px; text-align: center; font-size: 10px">
                                                    SKU
                                                </th>
                                                <th style="width: 200px; text-align: center; font-size: 10px">
                                                    DESCRIPCION
                                                </th>
                                                <th style="width: 70px; text-align: center; font-size: 10px">
                                                    MARCA
                                                </th>
                                                <th style="width: 70px; text-align: center; font-size: 10px">
                                                    FAMILIA
                                                </th>
                                                <th style="width: 70px; text-align: center; font-size: 10px">
                                                    CANT.
                                                </th>
                                                <th style="width: 70px; text-align: center; font-size: 10px">
                                                    PRECIO
                                                </th>
                                                <th style="width: 70px; text-align: center; font-size: 10px">
                                                    TOTAL
                                                </th>
                                                <th style="width: 40px; text-align: center; font-size: 10px">
                                                    ...
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tBodyCompDeta"></tbody>
                                    </table>
                                    <table class="table table-striped table-hover table-bordered" id="tblTotalOrdeComp">
                                        <thead>
                                            <tr role="row">
                                                <td style="width: 85%; text-align: right;">
                                                    TOTAL
                                                </td>
                                                <td id="TDTotalOrdeComp" colspan="2" style="width: 15%; text-align: right;">0.00</td>

                                            </tr>
                                        </thead>
                                    </table>
                                    <div class="horizontal-space"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 10px">
                            <div class="form-group" style="margin: 0">
                                <label class="col-sm-2 control-label" style="text-align:left;width:120px">Observaciones </label>
                                <div class="col-md-6" style="width:450px">
                                    @Html.Bootstrap().TextArea("txtObservacion").Rows(3).HtmlAttributes(new { @onkeyup = "InputToUpper(this)", @class = "input-sm" })
                                </div>
                                <label class="col-sm-2 control-label" style="text-align:left;width:110px">Almacen </label>
                                <div class="col-sm-4" style="width:330px">
                                    @Html.DropDownList("txtValBus_Almacen", new SelectList(ViewBag.Almacenes, "id_almacen", "nombre"), new { @class = "form-control dropdown-menu", @style = "width:320px", @onkeyup = "InputToUpper(this)" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4" style="text-align:right;vertical-align:middle;width:50%">
                                @Html.Bootstrap().Button().Text("Guardar").Id("GuardarEntidad").Color(BootstrapColors.Success)
                            </div>
                            <div class="col-md-2">
                                <button class="btn bg-danger" type="button" id="btnCancel" style="color:white" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>
@section PageScripts{
    <!--Jquery Select2-->
    <script src="~/assets/js/select2/select2.js"></script>
    <!--Bootstrap Tags Input-->
    <script src="~/assets/js/tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/assets/js/datetime/moment.js"></script>
    <!--Bootstrap Date Picker-->
    <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

        });


    </script>
}




