@{
    ViewBag.Title = "Registro de Almacenes";
    ViewBag.Description = "almacenes";
    Layout = "~/Views/Shared/_Default.cshtml";
    ViewBag.LogoHorizontal = ViewBag.LogoHorizontals;
}

@using System
@model IEnumerable<ERP.Admin.Models.Almacen>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">Listado </span>
                <div class="widget-buttons">
                    @if (Request.UrlReferrer != null)
                    {
                        <a class="btn btn-danger" style="width:60px" onclick="history.go(-1); return false;" href="#">Atras</a>
                    }
                    <a id="NewAlmacen" class="btn btn-primary" style="width:60px">
                        Nuevo
                    </a>
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
              
                <table class="table table-striped table-hover table-bordered" id="editabledatatable" style="font-size: 11px">
                    <thead>
                        <tr role="row"  >
                            <th  style="display:none">
                                @Html.DisplayNameFor(model => model.id_almacen)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cod_almacen)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ubicacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NEstado)
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td   style="display:none">
                                    @Html.DisplayFor(modelItem => item.id_almacen)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cod_almacen)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ubicacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NEstado)
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-primary edita" data-toggle="tooltip" title="Editar Registro" style="padding: 2px; font-size: small; margin-top: -5px">Editar</button>
                                    <button class="btn btn-sm btn-danger elimina" data-toggle="tooltip" title="Eliminar Registro" style="padding: 2px; font-size: small; margin-top: -5px">Eliminar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id='myModalNew' class='modal fade in' role="dialog">
    <div class="modal-dialog" style="width:750px; height:auto">
        <div class="modal-content">
            <div id='myModalContentNew'></div>
        </div>
    </div>
</div>
@section PageScripts{
    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
    <script src="~/assets/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/datatable/datatables-init.js"></script>
    <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/inputmask/jasny-bootstrap.min.js"></script>
    <script src="~/assets/js/select2/select2.js"></script>
    <!--Bootstrap Tags Input-->
    <script src="~/assets/js/tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/assets/js/datetime/moment.js"></script>
    <!--Bootstrap Date Picker-->
    <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>
    <script>
        var id_almacen = 0;
        $('#myModalNew').on('hide.bs.modal', function (e) {
            window.location.reload();
        });
        $('#myModalNew').on('shown.bs.modal', function (e) {
            var idx = $("#id_almacenx").val();
            var cod_almacenssx = $("#cod_almacensx").val();
            var ubicacionssx = $("#ubicacionsx").val();
            var nombressx = $("#nombresx").val();

            if (idx != "0") {
                $("#ubicacion").val(ubicacionssx);
                $("#cod_almacen").val(cod_almacenssx);
                $("#nombre").val(nombressx);
            }

            $("#GuardarAlmacen").click(function () {
                debugger;
                var id_almacen_save = 0;
                var ubicacion = $("#ubicacion").val();
                var cod_almacen = $("#cod_almacen").val();
                var nombre = $("#nombre").val();

                if (ubicacion === '' || cod_almacen === '' || nombre === '') {
                    sweetAlert("", "Datos Incompletos", "error");
                    $("#ubicacion").focus();
                    return false;
                }
                id_almacen_save = parseInt($("#id_almacenx").val(), 10);
                if (id_almacen_save == 0) {
                    $.ajax({
                        type: 'POST',
                        //url: "SaveTraslado",
                        url: '@Url.Action("GuardaAlmacen", "Almacen")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({
                            id_almacen: id_almacen, ubicacion: ubicacion, cod_almacen: cod_almacen, nombre: nombre
                        }),
                        dataType: 'json',
                        traditional: true,
                        success: function (data) {
                            console.log(data);
                            id_almacen = data;
                            if (parseInt(id_almacen, 10) > 0) {
                                swal({
                                    title: 'Exito!',
                                    text: 'Almacen se registró correctamente',
                                    type: 'success',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Ok'
                                }).then(function() {
                                    console.log("salirs");
                                    $("#btnCancel").click();
                                });
                            } else {
                                sweetAlert("", "No se pudo registrar!", "error");
                                id_almacen = 0;
                            }
                        }
                    });
                }
                else
                {
                    $.ajax({
                        type: 'POST',
                        //url: "SaveTraslado",
                        url: '@Url.Action("GuardaAlmacen", "Almacen")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({
                            id_almacen: id_almacen, ubicacion: ubicacion, cod_almacen: cod_almacen, nombre: nombre
                        }),
                        dataType: 'json',
                        traditional: true,
                        success: function (data) {
                            console.log(data);
                            id_almacen = data;
                            if (parseInt(id_almacen, 10) > 0) {
                                swal({
                                    title: 'Exito!',
                                    text: 'Almacen se actualizó correctamente',
                                    type: 'success',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Ok'
                                }).then(function() {
                                    console.log("salirs");
                                    $("#btnCancel").click();
                                });

                            } else {
                                sweetAlert("", "No se pudo registrar!", "error");
                                id_almacen = 0;
                            }
                        }
                    });
                }
            });
        });
        function InputToUpper(obj) {
            if (obj.value != "") {
                obj.value = obj.value.toUpperCase();
            }
        }

        $(document).on('click', '.edita', function () {
                    //debugger;
                    var tableRow = $(this).closest("tr");
                    id_almacen = tableRow.find("td:eq(0)").text();
                    id_almacen = id_almacen.trim();
                    console.log("idgeneral: " + id_almacen);
                    var options = { "backdrop": "static", keyboard: false };
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("RegistroAlmacen", "Comercial")',
                        contentType: "application/json; charset=utf-8",
                        data: { id_almacen: id_almacen },
                        dataType: 'html',
                        success: function (response) {
                            $('#myModalContentNew').html(response);
                            $('#myModalNew').modal(options);
                            $('#myModalNew').modal('show');
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    });
                    return false;
        });
        $(document).on('click', '.elimina', function () {
                    debugger;
                    var tableRow = $(this).closest("tr");
                    var id_almacen_save = tableRow.find("td:eq(0)").text();
                    id_almacen_save = id_almacen_save.trim();
                    var statux = tableRow.find("td:eq(4)").text();
                    statux = statux.trim();
                    console.log("status: " + statux);
                    var options = { "backdrop": "static", keyboard: false };
                    if (statux == "ACTIVO") {
                        $.ajax({
                        type: 'POST',
                        //url: "SaveTraslado",
                        url: '@Url.Action("EliminaAlmacen", "Almacen")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({
                            id_almacen: id_almacen_save
                        }),
                        dataType: 'json',
                        traditional: true,
                        success: function (data) {
                            console.log(data);
                            id_almacen = data;
                            if (parseInt(id_almacen, 10) > 0) {
                                swal({
                                    title: 'Exito!',
                                    text: 'Almacen se desactivó correctamente',
                                    type: 'success',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Ok'
                                }).then(function() {
                                    console.log("salirs");
                                    $("#btnCancel").click();
                                    window.location.reload();
                                });
                                
                            } else {
                                sweetAlert("", "No se pudo registrar!", "error");
                                id_almacen = 0;
                            }
                        }
                    });
                    }

                    return false;
                });
        $("#NewAlmacen").click(function () {
            //debugger;
            id_almacen = 0;
            var options = { "backdrop": "static", keyboard: false };
            $.ajax({
                type: 'GET',
                url: '@Url.Action("RegistroAlmacen", "Comercial")',
                contentType: "application/json; charset=utf-8",
                data: { id_almacen: id_almacen },
                dataType: 'html',
                success: function (response) {
                    $('#myModalContentNew').html(response);
                    $('#myModalNew').modal(options);
                    $('#myModalNew').modal('show');
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        });

        $(document).ready(function () {
            Inicia();

        });
        //InitiateEditableDataTable.init();
        function Inicia() {
            var table = $('#editabledatatable').dataTable({
                "aLengthMenu": [
                    [5, 15, 20, 100, -1],
                    [5, 15, 20, 100, "All"]
                ],
                "retrieve": "true",
                "iDisplayLength": 20,
                "sPaginationType": "bootstrap",
                "sDom": "Tflt<'row DTTTFooter'<'col-sm-6'i><'col-sm-6'p>>",
                "oTableTools": {
                    "aButtons": [
                        //"copy",
                        "print"
                    ],
                    "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf"
                },
                "language": {
                    "search": "",
                    "sLengthMenu": "_MENU_",
                    "oPaginate": {
                        "sPrevious": "Ant",
                        "sNext": "Sig"
                    }
                }
            });
        }
    </script>

}





