
@{
    ViewBag.Title = "Registro Orden de Compra";
    ViewBag.Description = "Orden de Compra";
    Layout = "~/Views/Shared/_Default.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                Estado:
                @Html.DropDownList("cmbComp_FilterEstado", new SelectList(ViewBag.EstadosFilter, "estado", "Nestado", selectedValue: "-1"), new { id = "cmbComp_FilterEstado" })
                <div class="widget-buttons">
                    @if (Request.UrlReferrer != null)
                    {
                        <a class="btn btn-danger" style="width:60px" onclick="history.go(-1); return false;" href="#">Atras</a>
                    }
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div id="DivTblCompra"></div>
        </div>
    </div>
</div>
<div id="spinner" class="loading">
    <img src="~/img/spinner2.gif" alt="Loading" />
</div>
<div id='myModalCompra' class='modal fade in' role="dialog">
    <div class="modal-dialog" style="width:90%; height:auto">
        <div class="modal-content">
            <div id='myModalContentCompra'></div>
        </div>
    </div>
</div>
@section PageScripts{
    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
    <script src="~/assets/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/datatable/datatables-init.js"></script>
    <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/inputmask/jasny-bootstrap.min.js"></script>
    <script src="~/assets/js/select2/select2.js"></script>
    <!--Bootstrap Tags Input-->
    <script src="~/assets/js/tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/assets/js/datetime/moment.js"></script>
    <!--Bootstrap Date Picker-->
    <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>

    <link href="~/Scripts/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert-dev.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
                return false;
            }
            return true;
        }
        function InputToUpper(obj) {
            if (obj.value != "") {
                obj.value = obj.value.toUpperCase();
            }
        }

        $(document).ready(function () {
            loadDivTblCompra();
            $("#spinner").hide();
            //Inicia();
            $('#spinner').bind("ajaxSend", function () {
                $(this).show();
            }).bind("ajaxComplete", function () {
                $(this).hide();
            });
            $('#loading').hide().ajaxStart(function () {
                $(this).show();
            }).ajaxStop(function () {
                $(this).hide();
            });
            $("#cmbComp_FilterEstado").change(function () {
                loadDivTblCompra();
            });
        });

        function loadDivTblCompra() {
            var EstaFilt = $("#cmbComp_FilterEstado").val();
            var url = "../Compra/Index?EstaFilt=" + EstaFilt;
            $('#DivTblCompra').html('');
            $('#DivTblCompra').load(url);
        }

        $(document).on('click', '.elimina', function () {
            var tableRow = $(this).closest("tr");
            var IdComp = tableRow.find("td:eq(0)").text();
            IdComp = IdComp.trim();
            var EstaComp = '0';
            var options = { "backdrop": "static", keyboard: false };
            var MotiCier = "";
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveChangeEstadoCompra", "Compra")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    IdComp: IdComp, EstaComp: EstaComp, MotiCier: MotiCier
                }),
                dataType: 'json',
                traditional: true,
                success: function (data) {
                    swal({
                        title: 'Exito!',
                        text: 'La OC se anuló satisfactoriamente',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Ok'
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                window.location.reload();
                            }
                    //}).then(function () {
                    //    window.location.reload();
                    });
                },
                error: function (request) {
                    sweetAlert("", request.responseText, "error");
                }
            });
            return false;
        });

        $(document).on('click', '.activar', function () {
            var tableRow = $(this).closest("tr");
            var IdComp = tableRow.find("td:eq(0)").text();
            IdComp = IdComp.trim();
            var EstaComp = '1';
            var options = { "backdrop": "static", keyboard: false };
            var MotiCier = "";
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveChangeEstadoCompra", "Compra")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    IdComp: IdComp, EstaComp: EstaComp, MotiCier: MotiCier
                }),
                dataType: 'json',
                traditional: true,
                success: function (data) {
                    swal({
                        title: 'Exito!',
                        text: 'La OC se restableció satisfactoriamente',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Ok'
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                window.location.reload();
                            }
                    });
                },
                error: function (request) {
                    sweetAlert("", request.responseText, "error");
                }
            });
            return false;
        });

        $(document).on('click', '.ver', function () {
            var tableRow = $(this).closest("tr");
            IdComp = tableRow.find("td:eq(0)").text();
            IdComp = IdComp.trim();
            CallBy = 'CompraVer';
            var options = { "backdrop": "static", keyboard: false };
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Edit", "Compra")',
                contentType: "application/json; charset=utf-8",
                data: { IdComp: IdComp, CallBy: CallBy },
                dataType: 'html',
                success: function (response) {
                    $('#myModalContentCompra').html(response);
                    $('#myModalCompra').modal(options);
                    $('#myModalCompra').modal('show');
                },
                error: function (request, status, error) {
                    sweetAlert("", request.responseText, "error");
                }
            });
            return false;
        });

        $(document).on('click', '.cerrar', function () {
            var tableRow = $(this).closest("tr");
            var IdComp = tableRow.find("td:eq(0)").text();
            var CodiOC = tableRow.find("td:eq(1)").text();
            var FechOC = tableRow.find("td:eq(2)").text();
            var ProvOC = tableRow.find("td:eq(3)").text();
            IdComp = IdComp.trim();
            var strDiv = '<div style="font-weight: bold">ESTÁ CERRANDO LA SIGUIENTE ORDEN DE COMPRA</div><br>';
            strDiv = strDiv + '<table style="width: 100%;">';
            strDiv = strDiv + '<tr style="text-align: left;"><td class="input-xs" style="padding-left: 30px; font-size: 1.2em;"><br>CÓDIGO:  <b>' + CodiOC + '</b></td></tr>';
            strDiv = strDiv + '<tr style="text-align: left;"><td class="input-xs" style="padding-left: 30px; font-size: 1.2em;">FECHA:  <b>' + FechOC + '</b></td></tr>';
            strDiv = strDiv + '<tr style="text-align: left;"><td class="input-xs" style="padding-left: 30px; font-size: 1.2em;">PROVEEDOR:  <b>' + ProvOC + '</b></td></tr>';
            strDiv = strDiv + '</table>';
            strDiv = strDiv + '</div></br></br>';
            strDiv = strDiv + '<div><big>¿CONFIRMA EL CIERRE?</big></div></br>';
            swal({
                html: true,
                title: 'AVISO!',
                text: strDiv,
                type: "input",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si!',
                cancelButtonText: 'No!'
            },
            function (inputValue) {
                if (inputValue === false) return false;

                if (inputValue.trim() === "") {
                    swal.showInputError("Para proceder a cerrar la OC es necesario ingresar un motivo!");
                    return false
                }
                FnCerraOC(IdComp, inputValue);
                swal.close();
            });
        });

        function FnCerraOC(IdComp, inputValue) {
            var EstaComp = '4';
            var options = { "backdrop": "static", keyboard: false };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveChangeEstadoCompra", "Compra")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    IdComp: IdComp, EstaComp: EstaComp, MotiCier: inputValue
                }),
                dataType: 'json',
                traditional: true,
                success: function (data) {
                    window.location.reload();
                },
                error: function (request) {
                    sweetAlert("", request.responseText, "error");
                }
            });
            return false;
        }
    </script>
}
