
@{
    ViewBag.Title = "Registro de Ordenes de Compra";
    ViewBag.Description = "Orden de Compra";
    Layout = "~/Views/Shared/_Default.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">Listado </span>
                Estado:
                @Html.DropDownList("cmbOrdeComp_FilterEstado", new SelectList(ViewBag.EstadosFilter, "estado", "Nestado", selectedValue: "-1"), new { id = "cmbOrdeComp_FilterEstado" })
            <div class="widget-buttons">
                @if (Request.UrlReferrer != null)
                {
                    <a class="btn btn-danger" style="width:60px" onclick="history.go(-1); return false;" href="#">Atras</a>
                }
                <a href="#" data-toggle="maximize">
                    <i class="fa fa-expand"></i>
                </a>
                <a href="#" data-toggle="collapse">
                    <i class="fa fa-minus"></i>
                </a>
                <a href="#" data-toggle="dispose">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            </div>
            <div id="DivTblOrdeCompra"></div>
        </div>
    </div>
</div>
<div id='myModalOrdeCompra' class='modal fade in' role="dialog">
    <div class="modal-dialog" style="width:90%; height:auto">
        <div class="modal-content">
            <div id='myModalContentOrdeCompra'></div>
        </div>
    </div>
</div>
<div id='myModalCliente' class='modal fade in' role="dialog">
    <div class="modal-dialog" style="width:40%; height:auto">
        <div class="modal-content">
            <div id='myModalContentCliente'></div>
        </div>
    </div>
</div>
<div id='myModalProveedor' class='modal fade in' role="dialog">
    <div class="modal-dialog" style="width:60%; height:auto">
        <div class="modal-content">
            <div id='myModalContentProveedor'></div>
        </div>
    </div>
</div>
<div id='myModalProducto' class='modal fade in' role="dialog">
    <div class="modal-dialog" style="width:60%; height:auto">
        <div class="modal-content">
            <div id='myModalContentProducto'></div>
        </div>
    </div>
</div>
<div id='myModalAgenTransporte' class='modal fade in' role="dialog">
    <div class="modal-dialog" style="width:40%; height:auto">
        <div class="modal-content">
            <div id='myModalContentAgenTransporte'></div>
        </div>
    </div>
</div>

@section PageScripts{
    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
    <script src="~/assets/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/datatable/datatables-init.js"></script>
    <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/inputmask/jasny-bootstrap.min.js"></script>
    <script src="~/assets/js/select2/select2.js"></script>
    <!--Bootstrap Tags Input-->
    <script src="~/assets/js/tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/assets/js/datetime/moment.js"></script>
    <!--Bootstrap Date Picker-->
    <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>

    <link href="~/Scripts/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert-dev.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
                return false;
            }
            return true;
        }
        function InputToUpper(obj) {
            if (obj.value != "") {
                obj.value = obj.value.toUpperCase();
            }
        }

        $(document).ready(function () {
            loadDivTblOrdeCompra();
            $("#cmbOrdeComp_FilterEstado").change(function () {
                loadDivTblOrdeCompra();
            });
        });

        function loadDivTblOrdeCompra() {
            var EstaFilt = $("#cmbOrdeComp_FilterEstado").val();
            var url = "../OrdenCompra/ListaOrdenCompra?EstaFilt=" + EstaFilt;
            $('#DivTblOrdeCompra').html('');
            $('#DivTblOrdeCompra').load(url);
        }

        $(document).on('click', '.edita', function () {
            var tableRow = $(this).closest("tr");
            IdOrdeComp = tableRow.find("td:eq(0)").text();
            IdOrdeComp = IdOrdeComp.trim();
            var options = { "backdrop": "static", keyboard: false };
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Edit", "OrdenCompra")',
                contentType: "application/json; charset=utf-8",
                data: { IdOrdeComp: IdOrdeComp },
                dataType: 'html',
                success: function (response) {
                    $('#myModalContentOrdeCompra').html(response);
                    $('#myModalOrdeCompra').modal(options);
                    $('#myModalOrdeCompra').modal('show');
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
            return false;
        });

        $(document).on('click', '.elimina', function () {
            var tableRow = $(this).closest("tr");
            var IdOrdeComp = tableRow.find("td:eq(0)").text();
            IdOrdeComp = IdOrdeComp.trim();
            var EstaOrdeComp = '0';
            var options = { "backdrop": "static", keyboard: false };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveChangeEstadoOrdenCompra", "OrdenCompra")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    IdOrdeComp: IdOrdeComp, EstaOrdeComp: EstaOrdeComp
                }),
                dataType: 'json',
                traditional: true,
                success: function (data) {
                    swal({
                        title: 'Exito!',
                        text: 'El Requerimiento de Compra se anuló satisfactoriamente',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Ok'
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                location.reload();
                            }
                        });
                },
                error: function (data) {
                    sweetAlert("", data.responseText, "error");
                }
            });
            return false;
        });

        $(document).on('click', '.activar', function () {
            var tableRow = $(this).closest("tr");
            var IdOrdeComp = tableRow.find("td:eq(0)").text();
            IdOrdeComp = IdOrdeComp.trim();
            var EstaOrdeComp = '1';
            var options = { "backdrop": "static", keyboard: false };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveChangeEstadoOrdenCompra", "OrdenCompra")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    IdOrdeComp: IdOrdeComp, EstaOrdeComp: EstaOrdeComp
                }),
                dataType: 'json',
                traditional: true,
                success: function (data) {
                    swal({
                        title: 'Exito!',
                        text: 'El requerimiento de compra se restableció satisfactoriamente',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Ok'
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                location.reload();
                            }
                        });
                },
                error: function (data) {
                    sweetAlert("", data.responseText, "error");
                }
            });
            return false;
        });

        @*$(document).on('click', '.aprobar', function () {
            var tableRow = $(this).closest("tr");
            var IdOrdeComp = tableRow.find("td:eq(0)").text();
            IdOrdeComp = IdOrdeComp.trim();
            var EstaOrdeComp = '2';
            var options = { "backdrop": "static", keyboard: false };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveAprobarOrdenCompra", "OrdenCompra")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    IdOrdeComp: IdOrdeComp
                }),
                dataType: 'json',
                traditional: true,
                success: function (data) {
                    swal({
                        title: 'Exito!',
                        text: 'El Requerimiento de Compra se aprobó satisfactoriamente',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Ok'
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                location.reload();
                            }
                        });
                },
                error: function (data) {
                    sweetAlert("", data.responseText, "error");
                }
            });
            return false;
        });*@

        $(document).on('click', '.aprobar', function () {
            var tableRow = $(this).closest("tr");
            IdOrdeComp = tableRow.find("td:eq(0)").text();
            IdOrdeComp = IdOrdeComp.trim();
            CallBy = 'OrdenCompraVer';
            var options = { "backdrop": "static", keyboard: false };
            $.ajax({
                type: 'GET',
                url: '@Url.Action("ViewAprobar", "OrdenCompra")',
                contentType: "application/json; charset=utf-8",
                data: { IdOrdeComp: IdOrdeComp },
                dataType: 'html',
                success: function (response) {
                    $('#myModalContentAgenTransporte').html(response);
                    $('#myModalAgenTransporte').modal(options);
                    $('#myModalAgenTransporte').modal('show');
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
            return false;
        });

        $(document).on('click', '.ver', function () {
            var tableRow = $(this).closest("tr");
            IdOrdeComp = tableRow.find("td:eq(0)").text();
            IdOrdeComp = IdOrdeComp.trim();
            CallBy = 'OrdenCompraVer';
            var options = { "backdrop": "static", keyboard: false };
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Edit", "OrdenCompra")',
                contentType: "application/json; charset=utf-8",
                data: { IdOrdeComp: IdOrdeComp, CallBy: CallBy },
                dataType: 'html',
                success: function (response) {
                    $('#myModalContentOrdeCompra').html(response);
                    $('#myModalOrdeCompra').modal(options);
                    $('#myModalOrdeCompra').modal('show');
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
            return false;
        });

        function FnListaCliente(pCallBy) {
            var options = { "backdrop": "static", keyboard: false };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListaClientes", "Cliente")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    CallBy: pCallBy
                }),
                dataType: 'html',
                success: function (response) {
                    $('#myModalContentCliente').html(response);
                    $('#myModalCliente').modal(options);
                    $('#myModalCliente').modal('show');
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }

        function FnListaProveedor(pCallBy) {
            var options = { "backdrop": "static", keyboard: false };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListaProveedor", "Proveedor")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    CallBy: pCallBy
                }),
                dataType: 'html',
                success: function (response) {
                    $('#myModalContentProveedor').html(response);
                    $('#myModalProveedor').modal(options);
                    $('#myModalProveedor').modal('show');
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }

        function FnListaProducto(pCallBy) {
            var options = { "backdrop": "static", keyboard: false };
            var EstaPro = "1";
            var FkProv = "";
            if (pCallBy == "OrdeCompCreate") {
                FkProv = $("#txtOrdeCompNew_FkProveedor").val();
            } else if (pCallBy == "OrdeCompEdit") {
                FkProv = $("#txtOrdeCompEdit_FkProveedor").val();
            }
            if (parseInt(FkProv) > 0) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListaProductos", "Producto")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        CallBy: pCallBy, FkProv: FkProv, EstaPro: EstaPro
                    }),
                    dataType: 'html',
                    success: function (response) {
                        $('#myModalContentProducto').html(response);
                        $('#myModalProducto').modal(options);
                        $('#myModalProducto').modal('show');
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            }
            else {
                sweetAlert("", "Seleccione un proveedor", "error");
            }
        }

        function FnListaProductoProveedor(pCallBy) {
            var options = { "backdrop": "static", keyboard: false };
            var EstaPro = "1";
            var FkProv = "";
            if (pCallBy == "OrdeCompCreate") {
                FkProv = $("#txtOrdeCompNew_FkProveedor").val();
            } else if (pCallBy == "OrdeCompEdit") {
                FkProv = $("#txtOrdeCompEdit_FkProveedor").val();
            }
            if (parseInt(FkProv) > 0) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListaProductoProveedor", "ProductoProveedor")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        CallBy: pCallBy, FkProv: FkProv, EstaPro: EstaPro
                    }),
                    dataType: 'html',
                    success: function (response) {
                        $('#myModalContentProducto').html(response);
                        $('#myModalProducto').modal(options);
                        $('#myModalProducto').modal('show');
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            }
            else {
                sweetAlert("", "Seleccione un proveedor", "error");
            }
        }


    </script>
}
