@using ERP.Admin.Models
@{
    var _cuenta = (CuentaPorPagarErp)ViewBag.CuentaPagar;
    int id_cuentas_por_pagar = 0;
    int fk_entidads = 0;
    string IDUSUARIOs = "";
    string IDMONEDAs = "";
    int fk_motivo_prestamos = 0;
    string f_vencimientos = "";
    string f_operacions = "";
    decimal montos = 0;
    decimal saldos = 0;
    decimal montoss = 0;
    string f_registros = "";
    string nro_operacions = "";
    string monedas = "";
    string motivo_prestamos = "";
    string razon_socials = "";
    string observacions = "";

    if (_cuenta != null)
    {
        id_cuentas_por_pagar = _cuenta.id_cuentas_por_pagar;
        fk_entidads = _cuenta.fk_entidad;
        IDUSUARIOs = _cuenta.IDUSUARIO;
        IDMONEDAs = _cuenta.IDMONEDA;
        fk_motivo_prestamos = _cuenta.fk_motivo_prestamo;
        f_operacions = _cuenta.f_operacion.ToString("dd/MM/yyyy");
        f_vencimientos = _cuenta.f_vencimiento.ToString("dd/MM/yyyy");
        montos = _cuenta.monto;
        f_registros = _cuenta.f_registro.ToString("dd/MM/yyyy");

        nro_operacions = _cuenta.nro_operacion;
        monedas = _cuenta.moneda;
        motivo_prestamos = _cuenta.motivo_prestamo;
        razon_socials = _cuenta.razon_social;
        observacions = _cuenta.observacion;
    }
}

@Html.Hidden("id_cuentas_por_pagarx", @id_cuentas_por_pagar)
@Html.Hidden("fk_entidadsx", @fk_entidads)
@Html.Hidden("IDUSUARIOsx", @IDUSUARIOs)
@Html.Hidden("IDMONEDAsx", @IDMONEDAs)
@Html.Hidden("fk_motivo_prestamosx", @fk_motivo_prestamos)
@Html.Hidden("f_operacionsx", @f_operacions)
@Html.Hidden("f_vencimientosx", @f_vencimientos)
@Html.Hidden("montosx", @montos)
@Html.Hidden("f_registrosx", @f_registros)
@Html.Hidden("nro_operacionsx", @nro_operacions)
@Html.Hidden("monedasx", @monedas)
@Html.Hidden("motivo_prestamosx", @motivo_prestamos)
@Html.Hidden("razon_socialsx", @razon_socials)
@Html.Hidden("observacionsx", @observacions)

@Html.Hidden("sfecha_operacion", "")
@Html.Hidden("sfecha_vencimiento", "")


<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget" style="margin-bottom:0">
            <div class="widget-header bordered-bottom bordered-red">
                <span class="widget-caption">Nuevo registro de movimiento</span>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    @using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal)))
                    {
                        <div class="row" style="margin-bottom:5px">
                            <div class="form-group" style="margin: 1px">
                                <label class="col-sm-1 control-label" style="text-align: left; padding-top: 8px; padding-right: 0">Entidad </label>
                                <div class="col-md-4" style="width:285px">
                                    @Html.Bootstrap().DropDownList("cmbfk_empresa", new SelectList(ViewBag.Empresas, "id_banco", "descripcion")).HtmlAttributes(new { @style = "width:250px !important" }).Size(InputSize.Small)
                                </div>
                                <label class="col-sm-1 control-label" style="text-align: left; padding-top: 8px;padding-right:0">Tipo </label>
                                <div class="col-md-5">
                                    @Html.Bootstrap().DropDownList("cmbfk_tipos", new SelectList(ViewBag.TipoPrestamo, "idtipoprestamo", "tipoprestamo")).HtmlAttributes(new { @style = "width:260px !important" }).Size(InputSize.Small)
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:5px">
                            <div class="form-group" style="margin: 1px">
                                <label class="col-sm-1 control-label" style="text-align: left; padding-top: 8px;padding-right:0">Motivo </label>
                                <div class="col-md-3" style="width:170px">
                                    @Html.Bootstrap().DropDownList("cmbfk_motivos", new SelectList(ViewBag.Motivos, "id_motivo_prestamo", "descripcion")).HtmlAttributes(new { @style = "" }).Size(InputSize.Small)
                                </div>
                                <label class="col-sm-1 control-label" style="text-align: left; padding-top: 8px;padding-right:0">Moneda </label>
                                <div class="col-md-4" style="width:200px">
                                    @Html.Bootstrap().DropDownList("cmbidmoneda", new SelectList(ViewBag.Monedas, "IDMONEDA", "descripcion")).HtmlAttributes(new { @style = "width:180px" }).Size(InputSize.Small)
                                </div>
                                <label class="col-sm-1 control-label" style="text-align: left; padding-top: 8px; margin-left: 0; margin-right:10px">Monto </label>
                                <div class="col-md-3" style="padding-left:0; width:135px">
                                    @Html.Bootstrap().TextBox("txtMonto").HtmlAttributes(new { @type = "number", @step = "0.01", @min = "0.00", @max = "9999999999.99", @style = "border-radius:4px !important" })
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:5px">
                            <div class="form-group" style="margin: 1px">
                                <label class="col-sm-1 control-label" style="text-align: left; padding-top: 8px; padding-right: 0;">Emisión </label>
                                <div class="col-md-4" style="width:230px">
                                    <div class='input-group'>
                                        <input class='form-control date-pickerIni' id='txtEmision' type='text' data-date-format='dd/mm/yyyy' style="border-radius:4px !important">
                                        <span class='input-group-addon' style="border-radius:4px !important">
                                            <i class='fa fa-calendar'></i>
                                        </span>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label" style="text-align: left; padding-top: 8px; margin-left: 0; margin-right:0">Oper. </label>
                                <div class="col-md-3" style="padding-left:0; width:140px">
                                    @Html.Bootstrap().TextBox("txtNroOperacion").HtmlAttributes(new { @class = "form-control", @style = "border-radius:4px !important; width:135px !important" })
                                </div>
                                <label class="col-sm-1 control-label" style="text-align: left; padding-top: 8px; margin-left: 0; margin-right:10px;">Cuotas </label>
                                <div class="col-md-3" style="width:100px;padding-right:0;padding-left:0">
                                    @Html.Bootstrap().TextBox("txtCuota").HtmlAttributes(new { @type = "number", @step = "1", @min = "1", @max = "9999999999", @style = "border-radius:4px !important" })
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:5px">
                            <div class="form-group" style="margin: 1px">
                                <label class="col-sm-1 control-label" style="text-align: left; padding-top: 8px; padding-right: 0;">Interes </label>
                                <div class="col-md-3" style="width:100px">
                                    @Html.Bootstrap().TextBox("txtInteres").HtmlAttributes(new { @type = "number", @step = "0.1", @min = "0.1", @max = "9999999999", @style = "border-radius:4px !important" })
                                </div>
                                <label class="col-sm-1 control-label" style="text-align: left; padding-top: 8px; padding-right: 0;">Dias </label>
                                <div class="col-md-3" style="width:110px;">
                                    @Html.Bootstrap().TextBox("txtDias").HtmlAttributes(new { @type = "number", @step = "1", @min = "1", @max = "9999999999", @style = "border-radius:4px !important" })
                                </div>

                                <label class="col-sm-1 control-label" style="text-align: left; padding-top: 8px;">Cuota </label>
                                <div class="col-md-3" style="padding-left:2px;width:120px">
                                    @Html.Bootstrap().TextBox("txtMontoCuota").HtmlAttributes(new { @type = "number", @step = "0.01", @min = "0.00", @max = "9999999999.99", @style = "border-radius:4px !important" })
                                </div>
                                <button type="button" class="col-md-2 btn btn-default btn-sm" onclick="GeneraCuotas()" style="margin-top:3px">
                                    <span class="glyphicon glyphicon-plus"></span> Generar
                                </button>
                                <div class="col-md-4" style="display:none">
                                    <div class='input-group'>
                                        <input class='form-control date-pickerFini' id='txtFin' type='text' data-date-format='dd/mm/yyyy'>
                                        <span class='input-group-addon'>
                                            <i class='fa fa-calendar'></i>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group" style="margin: 1px">
                                <label class="col-sm-1 control-label" style="text-align: left; padding-top: 8px; padding-right: 0">Obs. </label>
                                <div class="col-md-11">
                                    @Html.Bootstrap().TextBox("txtObservacion").HtmlAttributes(new { @onkeyup = "InputToUpper(this)", @class = "input-sm", @style = "border-radius:4px !important" })
                                    <div class="horizontal-space"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin: 1px;text-align:center;margin-bottom:20px; height:200px;overflow:auto">
                            <div class="form-group" style="margin: 1px;text-align:center">
                                <table id="letrastables" class="pure-table pure-table-bordered table-sm" style="margin: 0 auto;">
                                    <thead>
                                        <tr>
                                            <th style="display:none">id</th>
                                            <th>#</th>
                                            @*<th>Nro Cuota</th>*@
                                            <th>Importe</th>
                                            <th>Vencimiento</th>
                                            <th>Fecha Pago</th>

                                        </tr>
                                    </thead>

                                    <tbody id="letrastablesbody" style="height:400px;overflow:auto">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="text-align: right; vertical-align: middle; width: 80%">
                                @Html.Bootstrap().Button().Text("Guardar").Id("GuardarEntidad").Color(BootstrapColors.Success)
                            </div>
                            <div class="col-md-2">
                                <button class="btn bg-danger" type="button" id="btnCancel" data-dismiss="modal" style="color:white">Cancelar</button>
                            </div>
                        </div>
                    }
                </div>

            </div>

        </div>
    </div>
</div>

@section PageScripts{
    <link href="~/assets/css/pure-min.css" rel="stylesheet" />
    <script src="~/assets/js/select2/select2.js"></script>
    <!--Bootstrap Tags Input-->
    <script src="~/assets/js/tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/assets/js/datetime/moment.js"></script>
    <!--Bootstrap Date Picker-->
    <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

        });


    </script>
}
